@model List<EducationPortal.Web.Models.Course>

	<h2>Ders Listesi</h2>
	<table class= "table table-striped">
		<thead>
			<tr>
				<th>Ders Adı</th>
				<th>Açıklama</th>
				<th>Eğitmen</th>
			</tr>
		</thead>
		<tbody>
		@foreach(var course in Model)
		{
			<tr>
				<td>@course.Title</td>
				<td>@course.Description</td>
				<td>@course.Instructor</td>
			</tr>
		}
		</tbody>
	</table>