@{
	Layout = "_Layout";
	ViewData["Title"] = "Öğrenciler";
}

<h1 class ="h3 mb-4 text-gray-800">Öğrenci Listesi</h1>

<table class= "table table-striped">
	<thead>
		<tr>
			<th>Ad Soyad</th>
			<th>Bölüm</th>
			<th>E-Posta</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Sıla Geyik</td>
			<td>Bilgisayar Programcılığı</td>
			<td>sila@eduportal.com</td>
		</tr>
	</tbody>
</table>