<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - Admin Paneli</title>

    <!-- DOĞRU YOLLAR -->
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/sb-admin-2.min.css" />
</head>
<body id="page-top">
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-controller="Dashboard" asp-action="Index">
                <div class="sidebar-brand-text mx-3">Eğitim Portalı</div>
            </a>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Dashboard" asp-action="Index">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Course" asp-action="Index">
                    <i class="fas fa-fw fa-book"></i>
                    <span>Dersler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Student" asp-action="Index">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>Öğrenciler</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-controller="Enrollment" asp-action="Index">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Kayıtlar</span>
                </a>
            </li>
        </ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid pt-4">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- DOĞRU YOLLAR -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>

</body>
</html>
